
*.jpg
*.avi
*.svm
*.xml
*.pkl
*.db
*.exe
*.pyc

01eye_pupil_model_dlib/eyes/

01eye_pupil_model_hough/data/
01eye_pupil_model_hough/tests/

02track_model/world_model/world
02track_model/world_model/image_metadata_stylesheet.xsl

03img_classify/classify_image_graph_def.pb
03img_classify/imagenet_2012_challenge_label_map_proto.pbtxt
03img_classify/imagenet_synset_to_human_label_map.txt
03img_classify/IMG_20190917_120404.jpg

img_data/
csv_data/

model/

img_classify/classify_image_graph_def.pb
img_classify/imagenet_synset_to_human_label_map.txt
img_classify/imagenet_2012_challenge_label_map_proto.pbtxt
img_classify/IMG_20190917_120404.jpg

tools/img/
tools/test/
tools/image_metadata_stylesheet.xsl

pupil_smart/
result/

